<h2>Grocery Items</h2>
<div class="items-filter">
    <button (click)="itemsFilter('all')">All Items</button>
    <button (click)="itemsFilter('unchecked')">Unchecked Items</button>
    <button (click)="itemsFilter('checked')">Checked Items</button>
</div>
<table class="table">
    <tr>
        <th>Picked</th>
        <th>Name</th>
        <th>Quantity</th>
        <th>Delete</th>
    </tr>
    <tr *ngFor="let item of filteredItems">
        <td style="width:15px">
            <input type="checkbox" [(ngModel)]="item.checked" (change)="checkUncheck(item)" />
        </td>
        <td><a class="badge">{{ item.name }}</a></td>
        <td>{{ item.qty }}</td>
        <td>
            <button title="delete item">X</button>
        </td>
    </tr>
</table>
