<h2>Grocery Items</h2>
<div class="items-filter">
    <button (click)="itemsFilter('all')">All Items</button>
    <button (click)="itemsFilter('unchecked')">Unchecked Items</button>
    <button (click)="itemsFilter('checked')">Checked Items</button>
</div><br>
<table class="table">
    <tr *ngIf="!checked">
        <th>No checked items!</th>
    </tr>
    <tr *ngIf="!unchecked">
        <th>No unchecked items!</th>
    </tr>
    <tr *ngIf="checked && unchecked">
        <th>Picked</th>
        <th>Name</th>
        <th>Quantity</th>
        <th>Delete</th>
    </tr>
    <tr *ngFor="let item of filteredItems">
        <td style="width:15px">
            <input class="checkbox" type="checkbox" [(ngModel)]="item.checked" (change)="checkUncheck(item)" />
        </td>
        <td class="items"><a routerLink="/detail/{{ item.id }}"><span>{{ item.name }}</span></a></td>
        <td>{{ item.qty }}</td>
        <td>
            <button title="delete item" class="delete">X</button>
        </td>
    </tr>
</table>
